@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Pacifico&display=swap");
* {
  scroll-behavior: smooth;
}
body {
  background-color: #ffc0cb;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.active {
  background-color: pink;
  color: white;
}

.back {
  background-position: 0pt;
  background-image: url("./Assets/blob-scene-haikei.svg");
  background-size: cover;
}

.anton {
  font-family: "Anton", sans-serif;
}

.pacifio {
  font-family: "Pacifico", cursive;
}

.lobster {
  font-family: "Lobster", cursive;
}

.border-b-1 {
  border-bottom: 1px solid grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rotate-135 {
  transform: rotate(135deg);
}

.top-18 {
  margin-top: 4.1rem;
}

.w-85 {
  width: 87%;
}

.w-90 {
  width: 90%;
}

.bg-main {
  background-color: #e966a0;
}
.bg-second {
  background-color: #2b2730;
}
.bg-third {
  background-color: #6554af;
}
.bg-fourth {
  background-color: #9575de;
}
